.head {
   min-height: 70vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../../Img/header.jpg);
   background-position: bottom center;
   background-size: cover;
   padding: 0.3rem;
}

.head h1:last-child {
   font-size: 2rem;
   color: #faf9f9;
   padding-top: 0.5rem;
   margin: 1rem 0;
}
