/** 
  * ? ESTILOS PARA LOS MENUS DE NAVEGACION MOVIL Y DESKTOP
  * ! DESKTOP
*/
.menu {
   height: 2.5rem;
   padding: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.menu a {
   color: #faf9f9;
   padding: 0 0.4rem;
   font-weight: 300;
   letter-spacing: 1px;
}

.menu a:hover {
   border-bottom: 1px solid;
}

/** 
 * !MOBILE
*/

.menuMobil {
   width: 3rem;
   height: 3rem;
   background-color: rgb(46 47 50 / 91%);
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: fixed;
   bottom: 4vh;
   right: 5vw;
   z-index: 10000;
}

.menuMobil span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   background: #faf9f9;
   border-radius: 3px;
   z-index: 1;
   transition: 0.2s ease-in-out;
}

.touch span:nth-child(1) {
   transition: 0.2s ease-in-out;
   transform: rotate(-50deg) translate(-8px, 6px);
}

.touch span:nth-child(2) {
   transition: 0.2s ease-in-out;
   opacity: 0;
}

.touch span:nth-child(3) {
   transition: 0.2s ease-in-out;
   transform: rotate(44deg) translate(-6px, -5px);
}

.contentMenu {
   height: 100vh;
   width: 0;
   background-color: rgb(85 91 110);
   position: fixed;
   top: 0rem;
   left: 0;
   z-index: 9998;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   overflow-x: hidden;
}

.menuMostrarMovil {
   width: 70vw;
   height: 70%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.menuMostrarMovil a {
   font-size: 1.7rem;
   color: #fdfdfd;
}

/**
 * *estilos de botones */

.btn-principal {
   margin: 1rem;
   font-weight: normal;
   width: 7.3rem;
   height: 40px;
   background-color: rgba(190, 227, 219, 1);
   box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
   border-radius: 25px;
}

.btn-principal:hover {
   transition: 0.2s ease;
   background-color: rgb(167 201 193);
   color: #faf9f9;
}

.seconbtn {
   background: rgba(85, 91, 110, 1);
   color: rgba(190, 227, 219, 1);
}

/**
 * ?estilos paara los encabezados
 */

.titulo {
   font-size: 1.5rem;
   font-weight: normal;
   color: rgb(85, 91, 110);
   margin: 2rem 0;
}
